body{
   background-image: url("https://miro.medium.com/max/1400/1*NrGwC1BpEBeMEgRQ3ZhbkQ.jpeg");
   background-size: 100%;
}


#pagehead{
   font-size:400%;
    font-family:cs_regular;
    color: white;
    text-align: center;
    margin-top:2%;
}

#wrapper{
    text-align:center;
}
#ternary{
    font-size:270%;
    font-family:cs_regular;
    height: 10%;
    width: 18%;
    background-color: black;
    color: white;
    clear:left;
    text-align:center;        
    margin-top:1%;
    margin-right:2%;
    margin-bottom:1%;
    display: inline-block; 
    vertical-align: top;
}

#ternary:hover{
    font-size:275%;
    font-family:cs_regular;
    height:11%;
    width: 19%;
    background-color: white;
    color: black;
    clear:left;
    text-align:center;
    margin-top:1%;
    margin-right:1%;
    margin-bottom:0%;
    display: inline-block; 
    vertical-align: top;
}

#scatter{
    font-size:270%;
    font-family:cs_regular;
    height:10%;
    width: 19%;
    background-color: black;
    color: white;
    text-align:center;
    margin-top:1%;
    margin-bottom:1%;
    display: inline-block; 
    vertical-align: top;
}

#scatter:hover{
    font-size:275%;
    font-family:cs_regular;
    height:11%;
    width: 20%;
    background-color: white;
    color: black;
    text-align:center;
    margin-top:1%;
    margin-bottom:0%;
    display: inline-block; 
    vertical-align: top;
}

#whitespace{
    height: 50%;
    width:100%;
    margin-top:20px;
    margin-bottom:10px;
    float:none;
    clear:top;
}


#bottombanner{
    font-size:100%;
    height:25%;
    width: 100%;
    background-color: black;
    color: white;
    float:center;
    text-align:center;
    margin-top:10px;
}

P.centertext {
    margin-left: auto;
    margin-right: auto;
    width: 90%
}

P {
    text-align:center;
    font-size:230%;
    color:white;
}


.center{
    display:block;
    margin-left:auto;
    margin-right:auto;
    width:45%
}

/* unvisited link */
a:link {
    color: white;
      text-decoration: none;
}

/* visited link */
a:visited {
    color: white;
      text-decoration: none;
}

/* selected link */
a:active {
    color: white;
      text-decoration: none;
}